<%- include('header') %>

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row flex-row-reverse justify-content-center">
            <div class="col-lg-9">
                <div class="product-detail accordion-detail">
                    <div class="row mb-50">
                        <!-- <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                
                                
                                <div class="product-image-slider">
                                    <img src="/admin/assets/productsImages/<%- Products.image %>">
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="/admin/assets/productsImages/<%- Products.image[2] %>" alt="product image">
                                    </figure>

                                    <figure class="border-radius-10">
                                        <img src="/admin/assets/productsImages/<%- Products.image[1] %>" alt="product image">
                                    </figure>

                                    <figure class="border-radius-10">
                                        <img src="/admin/assets/productsImages/<%- Products.image[0] %>" alt="product image">
                                    </figure>
                                    
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="/admin/assets/productsImages/<%- Products.image[2] %>" alt="product image"></div>
                                    <div><img src="/admin/assets/productsImages/<%- Products.image[1] %>" alt="product image"></div>
                                    <div><img src="/admin/assets/productsImages/<%- Products.image[0] %>" alt="product image"></div>
                                   
                                </div>
                            </div>
                            <!-- End Gallery -->
                            
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h2 class="title-detail"><%- Products.productName %></h2>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span><a href="shop-grid-right.html"><%- Products.brandName %></a></span>
                                    </div>
                                    
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand"> <%- "$" + Products.salePrice %> </span></ins>
                                        <ins><span class="old-price font-md ml-15"><%- "$" + Products.regularPrice %></span></ins>
                                        
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p><%- Products.description %></p>
                                </div>
                                <div class="product_sort_info font-xs mb-30">
                                    <ul>
                                        <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                        <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                    </ul>
                                </div>
                                
                                
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    
                                    <div class="product-extra-link2">
                                        <form action="/cart" method="post">
                                            <% if (Products.quantity > 0) { %>

                                            <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                            <input type="hidden" value="<%= Products._id %>" name="id" id="id">
                                            <% } else { %>
                                                <span class="out-of-stock">Out of Stock</span>

                                            
                                            <% } %>
                                            

                                        </form>
                                        

                                      
                                        
                                    </div>
                                    <div class="product-extra-link2">


                                        <form action="/addToWishlist" method="post">
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishlist?id=<%- Products._id %>"  type="submit"><i class="fi-rs-heart"></i></a>
        
        
                                                <input type="hidden" value="<%- Products._id %>" name="id">
                                                <h6></h6>
                                            
                                            
        
                                                <!-- <span class="out-of-stock">Out of Stock</span> -->
                                            
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-style3">
                        <ul class="nav nav-tabs text-uppercase">
                            <li class="nav-item">
                                <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                            </li>
                        </ul>
                        <div class="tab-content shop_info_tab entry-main-content">
                            <div class="tab-pane fade show active" id="Description">
                                <div class="">
                                    <p><%- Products.description %></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<%- include('footer') %>

