<%- include('header') %>

<main class="main">
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex">
                <div class="col-lg-12">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Search Results</h2>
                        </div>
                    </div>

                    <div class="row product-grid-3">
                        <% if (Product.length === 0) { %>
                            <!-- Results Not Found Message -->
                            <div class="container mt-5 mb-5">
                              <!-- Add 'mt-5' and 'mb-5' classes for more top and bottom margin -->
                              <div class="card mt-5 mb-5">
                                  <div class="card-body mt-5 mb-5">
                                      <h2 class="card-title text-center">No Results Found</h2>
                                      
                                  </div>
                              </div>
                          </div>
                        <% } else { %>
                            <% for (let i = 0; i < Product.length; i++) { %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productDetails?id=<%- Product[i]._id %>">
                                                    <img class="default-img" src="/admin/assets/productsImages/<%- Product[i].image[0] %>" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="#"><%- Product[i].brandName %></a>
                                            </div>
                                            <h2><a href="#"><%- Product[i].productName %></a></h2>
                                            <div class="rating-result" title="90%"></div>
                                            <div class="product-price">
                                                <span><%- "$" + Product[i].salePrice %></span>
                                                <span class="old-price"><%- "$" + Product[i].regularPrice %></span>
                                            </div>
                                            <!-- Add to Cart form -->
                                            <form action="/cart" method="post">
                                                <div class="product-action-1 show">
                                                    <!-- Check if there is stock (quantity > 0) -->
                                                    <% if (Product[i].quantity > 0) { %>
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                        <!-- <button aria-label="Add To Cart" class="action-btn hover-up" type="submit"> -->
                                                        <input type="hidden" value="<%= Product[i]._id %>" name="id">
                                                        <h6></h6>
                                                        </button>
                                                    <% } else { %>
                                                        <!-- Display "Out of Stock" -->
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                        <span class="out-of-stock">Out of Stock</span>
                                                    <% } %>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('footer') %>
